@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

/* header */
header {
	width: 100%;
	height: 60px;
	background: #222;
}

.header_1 {
	margin: 0 auto;
	width: 960px;
	height: 100%;
}

.logo {
	position: relative;
	float: left;
	height: 100%;
}

.logo img {
	position: absolute;
	margin: auto 0;
	top: 0;
	bottom: 0;
	width: 40px;
	height: 40px;
}
.nav {
	float: right;
	height: 100%;
}

.nav ul {
	margin-top: 10px; 
}

.nav li {
	display: inline-block;
	margin-left: 20px;
}

.nav li a {
	text-decoration: none;
	color: #fff;
}

.nav li a:hover {
	color: #ff7f50;
}

/* banner */
.banner {
	position: relative;
	width: 100%;
	height: 400px;
	background: #ff7f50;
}

ul,ol{
	list-style: none;
}

ol {
	position: absolute;
	bottom: 20px;
	right: 480px; 
}

ol li {
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	background: #eee;
	cursor: pointer;
}

ol li:hover {
	background: #6495ed; 
}


/* 主导航栏nav */
nav {
	width: 100%;
	height: 80px;
	background: #eee;
}

nav ul {
	width: 960px;
	height: 60px;
	margin: 0 auto;
}

nav li {
	display: inline-block;
	float: left;
	margin-top: 20px;
	width: 160px;
	height: 60px; 
	text-align: center;
	line-height: 60px;
	border: 1px solid #333;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background: #999;
	box-sizing: border-box;
	cursor: pointer;
}

nav li:hover {
	background: #fff;
}

nav li a {
	text-decoration: none;
	color: #000;
}

nav li a:hover {
	color: #ff7f50;
}

/* 主要内容mian */
.main {
	margin: 0 auto;
	display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    flex-wrap: wrap;
    /* 子元素两端对齐 */
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    
    width: 960px;
    height: auto;

}

.main div {
	margin-bottom: 10px;
	padding: 80px;
	border: 1px solid #eee; 
	/* 子元素占据剩余的空间 */
	-webkit-box-flex:1;
`       -webkit-flex:1;
            -ms-flex:1;
                flex:1;
}


/* footer */
footer {
	width: 100%;
	height: 100px;
	text-align: center;
	line-height: 100px;
	color: #fff;
	background: #444;
}