@charset "UTF-8";

body {
	padding-left: 20px;
    font-size:14px;
    font-family:Tahoma,Arial,"Helvetica Neue","Hiragino Sans GB",Simsun,sans-serif;
    color:#000;
    background:#fff;
}

h3 {
	font-size: 14px;
	margin-bottom: -10px;
}

.cross-text {
	/* 将行高设置为0，是为了让所有h2标题与跟在其后的内容保持一致的行高 */
	line-height: 0;
	/* 若不设置下面这句，h2、p文字不会垂直对齐 */
	vertical-align: middle;
}
.cross-text h3 {
	display: inline-block;
	margin-right: 10px;
}

.cross-text p {
	display: inline-block;
	margin-right: 40px;
}